{{ define "main" }}
<div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-auto">
        <img alt="" class="img-fluid" src="/images/fabio-scagliola-180.jpg" style="border-radius: 50%;" />
    </div>
    <div class="col">
        <h1>Fabio Scagliola</h1>
    </div>
    <figure>
        <blockquote class="blockquote">
            <p>Software Architect. Musician as Nothence. Avid horror and science fiction reader and occasional writer.</p>
        </blockquote>
    </figure>
</div>
{{ .Content }}
<p>&nbsp;</p>
<p>&nbsp;</p>
{{ end }}
